body {
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: Arial;
}

#scoreBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#restartBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  z-index: 10;
}

#musicBtn {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 10;
}

canvas {
  display: block;
  margin: auto;
  background: black;
}
